<div class="modal-header">
    <h3 class="modal-title">Delete this Data ? </h3>
</div>
<div class="modal-body text-center">
    <div class="i-circle danger"><i class="fa fa-trash"></i></div>
    <p>  Are you sure you want to permanently delete this data ? </p>
</div>
<div class="modal-footer deletemodal">
    <a href="javascript:void(0);" ng-click="delete(DataId)" class="btn btn-danger">
        <i class="fa fa-trash"></i> Yes
    </a>
    <a href="javascript:void(0);" class="btn btn-primary" ng-click="dismiss()"><i class="fa fa-times"></i> No </a>
</div>