<div>
    <a class="add" href="#/departments/edit/0">Create new Department</a>
    <form class="form-inline" ng-submit="load()">
        <div class="form-group col-md-3 inline_col">
            <input autocomplete="off" type="text" ng-model="filter.searchText" class="form-control" placeholder="Enter Check book name..." name="s" />
        </div>
        <button type="submit" class="btn btn-success">
            <i class="linecons-search"></i>  Search
        </button>
    </form>
</div>
<table class="table">
    <tr>
        <th class="table-Name">
            Name
        </th>
        <th></th>
    </tr>
    <tbody ng-repeat="department in data | orderBy:orderByField:reverseSort">
        <tr>
            <td>{{department.Name}}</td>
            <td>
                <a href="#/departments/edit/{{department.Id}}" class="edit">Edit</a> |
                <a href="javascript:void(0);" ng-click="deleteModal(department.Id)" class="delete">
                    <i class="fa fa-trash"></i>  Delete
                </a>
            </td>
        </tr>
    </tbody>
</table>
<label ng-if="data.length=== 0">No Record</label>
<pagination ng-if="data.length > 0" total-items="TotalItems" ng-model="filter.CurrentPage" items-per-page="filter.PageSize" max-size="10" class="pagination-sm" boundary-links="true" ng-change="changePage()"></pagination>